#header-hero {
  background-image: url('../images/home2.jpg');
  background-size: cover;
  background-position: center;
}

.hero {
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero-content {
  padding: 50px;
}

.cta-button {
  display: inline-block;
  background-color: #ffbb00;
  color: #000;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #f8a800;
}

.about-section,
.menu-section,
.reservations-section,
.contact-section {
  padding: 100px 0;
  text-align: center;
}

.about-content,
.menu-content,
.reservations-content,
.contact-content {
  max-width: 800px;
  margin: 0 auto;
}

.menu-items {
  display: flex;
  justify-content: center;
}

.menu-item {
  margin: 0 20px;
}

.menu-item img {
  width: 100%;
  border-radius: 10px;
}

.menu-item h3 {
  margin-top: 20px;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Golden Lines */
/* App.css */

/* Create a class for the golden border container */

/* Lines */
.line {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 1px; /* Adjust the width of the lines */
  background-color: #ffd900a0; /* Adjust the color of the lines */
}

.left-line {
  left: 10vh; /* Distance from the left edge */
}

.right-line {
  right: 10vh; /* Distance from the right edge */
}
